name: Test

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: x86_64-pc-windows-msvc
        components: clippy, rustfmt
    - uses: Swatinem/rust-cache@v2

    - run: cargo clippy -- -D warnings
    - run: cargo fmt -- --check
    - run: cargo build
